<div>
    <div *ngIf="!isAddNewProspectFormVisible">
        <div class="flex flex-row items-center justify-center gap-2 mt-4">
            <div class="font-bold self-center">
                Search By Prospect:
            </div>
            <div class="flex flex-row gap-2">
                <div>
                    <input type="text" pInputText placeholder="Search By Prospect" [(ngModel)]="searchText"
                        class="w-68" />
                </div>
                <div>
                    <button pButton type="button" icon="pi pi-search" label="Search"
                        (click)="applyProspectSearch()"></button>
                </div>
                <div>
                    <button pButton type="button" icon="pi pi-refresh" label="Refresh"
                        (click)="reloadProspectsDefault()"></button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-end mr-4 mt-4">
            <button pButton type="button" icon="pi pi-plus" label="Add New" (click)="addNewProspect()"></button>
        </div>
        <div>
            <ng-container *ngIf="prospects$ | async as prospects; else loading">
                <p-table [value]="prospects" stripedRows [tableStyle]="{'min-width': '50rem'}" [paginator]="true"
                    [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" selectionMode="single"
                    [(selection)]="selectedProspect" dataKey="clientId">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="clientLastName">Last Name</th>
                            <th pSortableColumn="clientFirstName">First/Company Name</th>
                            <th pSortableColumn="clientTelNumber">Phone Number</th>
                            <th pSortableColumn="clientEmail">Email</th>
                        </tr>
                        <tr>
                            <th>
                                <p-columnFilter type="text" field="clientLastName" placeholder="Enter key to search"
                                    ariaLabel="Filter Prospect Last Name"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="clientFirstName" placeholder="Type to search"
                                    ariaLabel="Filter Prospect First Name" filterOn="input"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="clientTelNumber" placeholder="Enter key to search"
                                    ariaLabel="Filter Prospect Telephone Number"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="clientEmail" placeholder="Enter key to search"
                                    ariaLabel="Filter Prospect Email"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-prospect>
                        <tr [pSelectableRow]="prospect">
                            <td>{{prospect.clientFirstName ?? '--'}}</td>
                            <td>{{prospect.clientLastName ?? '--'}}</td>
                            <td>{{prospect.clientTelNumber ?? '--'}}</td>
                            <td>{{prospect.clientEmail ?? '--'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-template #loading>
                <p>Data is loading</p>
            </ng-template>
        </div>
        <div class="flex flex-row items-center justify-end mt-4">
            <div class="mr-4 mb-4">
                <button pButton type="button" icon="pi pi-save" label="Submit"
                    (click)="createProspectRecord()"></button>
            </div>
        </div>
    </div>
    <div class="mt-4 mr-4" *ngIf="isAddNewProspectFormVisible">
        <div class="flex flex-row justify-end">
            <button pButton type="button" icon="pi pi-chevron-left" label="Back" (click)="backNavigation()"></button>
        </div>
        <app-prospect-form (prospectSubmit)="prospectSubmit($event)"></app-prospect-form>
    </div>
</div>