/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  color: #000000;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}

